*.cdf linguist-detectable=false
*.htm linguist-detectable=false
*.qpf linguist-detectable=false
*.qsf linguist-detectable=false
*.qws linguist-detectable=false
*.sdc linguist-detectable=false
*.ppf linguist-detectable=false
*.qip linguist-detectable=false
