*.cdf linguist-generated
*.htm linguist-generated
*.qpf linguist-generated
*.qsf linguist-generated
*.qws linguist-generated
*.sdc linguist-generated
*.ppf linguist-generated
*.qip linguist-generated
